#root {
  margin: 0 0;
}
@font-face {
  font-family: 'games';
  src: url('./games.ttf');
 
}
body {
  background-color: rgba(0, 0, 255, .7);
  font-family: 'games', sans-serif;
  position: relative;
  width: 100vw;
  overflow-x: hidden;
   text-shadow:
    1px 1px 0 #fff,
    -1px 1px 0 #fff,
    -1px -1px 0 #fff,
    1px -1px 0 #fff;
    letter-spacing: 3px;

}
#red {
  color: red;
}
#yellow {
  color: yellow;
}
#purple {
  color: purple;
}
#green {
  color: green;
}
#orange {
  color: orange;
}
.home {
 
/*  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;*/

}
.header {
  display: flex;
}
.top-container {
/*  text-align: center;*/
  margin-top: calc(100vh/ 5);
/*  margin-right: calc(100vw/ 2);*/
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: uppercase;
}
.hometitle {
  display: flex;
}
.top-container p{
  text-align: center;

}
.personal-image img{
    margin-top: 10px;
    border-radius: 50%;
}
.rotate {
  rotate: 40deg;
}
.carousel {
  display: flex;
 
  align-items: center;
  background-color: rgba(0, 255, 255, .2);
  height: 400px;
  width: 100%;
  margin-left: 70VW;
  border-radius: 200px;
  border: 5px double whitesmoke;
  box-shadow: 2px 2px 2px 2px gray;
}
.carousel h1 {
  margin-left: 10px;
}
.carousel-main-img {
  position: relative;
    height: 175px;
  width: 175px;
    margin: 20px;


}

.carousel-main-img img {

  height: 175px;
  width: 175px;
  border-radius: 50%;
  background-color: rgba(0, 255, 255, .2);

}

/*.carousel-main-img:nth-child(1),
.carousel-main-img:nth-child(3) {
   margin-left: auto;
   margin-right: auto;
   position: relative;
   display: block;
}
.carousel-main-img:nth-child(2){
  display: block;
}


*/